@import url("variables.css");

/* ===== SECTION SOBRE ===== */
#sobre {
    width: 100%;
    min-height: 25rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 2rem;
    text-align: center;
}

/* TÍTULO */
#sobre h2 {
    font-family: var(--font-primary);
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
    color: var(--second-color);
    font-weight: var(--font-light);
}

/* CONTAINER PRINCIPAL */
.container-about {
    width: 100%;
    max-width: 68.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

/* IMAGEM */
.container-about-img {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-about-img img {
    width: 100%;
    max-width: 350px;
    height: 22em;
}

/* TEXTO */
.container-about-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-about-text p {
    color: var(--second-color);
    font-family: var(--font-primary);
    font-weight: var(--font-regular);
    line-height: 1.6;
    max-width: 500px;
}

 .container-about-img{
    animation: fadeUp 0.8s ease;
 }

 .container-about-text{
    animation: fadeUp 0.8s ease;
 }

 #sobre h2{
    animation: fadeUp 0.8s ease;
 }

 @keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ===== RESPONSIVIDADE ===== */

/* TABLETS */
@media (max-width: 750px) {
    .container-about {
        flex-direction: column;
        text-align: center;
    }

    .container-about-img img {
        max-width: 300px;
    }

    .container-about-text {
        display: flex;
        justify-content: center;
        display: inline-block;
        padding: 0 1rem;
    }
}

/* MOBILE */
@media (max-width: 428px) {
    #sobre {
        padding: 1.5rem 1rem;
    }

    #sobre h2 {
        font-size: 1.6rem;
    }

    .container-about-img img {
        max-width: 250px;
    }

    .container-about-text p {
        font-size: 1rem;
    }
}